.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #2E4053;
    /* Darker blue color */
    color: #fff;
}

.navbar-left {
    display: flex;

    .profile-menu {
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
    }

    .profile-menu h2 {
        margin-top: 0;
    }

    align-items: center;
    justify-content: center;
}

.navbar-logo {
    width: 40px;
    /* Make the logo smaller */
    height: 40px;
    margin-right: 10px;
}

.navbar-title {
    font-size: 1.5rem;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
}

.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}